<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>SuperinstantComment!</title>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script> 
	<script src="/javascripts/superinstantcomment.js"></script>
</head>

<body id="index" onload="">
	
	<h1 id="superinstantcomment">SuperInstantComment</h1>
	Hola, eres <strong>{{ nickname}}</strong>.  <a href="{{ logout_url }}">Logout</a>
	<hr/>

	<ul>
	<li id="content">
	
	<h2>Comments globales</h2>
	<ul>
	{% for c in global_comments %}
		<li>
			<a href="#" class="click2play"><strong>{{ c.name }}</strong></a>
			<audio id="global{{forloop.counter}}" autobuffer="true" src="/get?cid={{c.key}}"></audio>
		</li>
	{% endfor %}
	</ul>

	</li>
	<li>
	<h2>Tus propios comments (usa tecla numérica)</h2>
	<ol>
	{% for c in my_comments %}
		<li>
			<a href="#" class="click2play"><strong>{{ c.name }}</strong></a>
			<audio id="audio{{forloop.counter}}" autobuffer="true" src="/get?cid={{c.key}}" type="audio/mp3">
			</audio>
			{% if is_admin %}
				{% if c.is_global %}
				<small>&radic;</small>
				{% endif %}
			{% endif %}
			
		</li>
	{% endfor %}
	</ol>
	
	<hr/>
	<form action="/upload" method="post" enctype='multipart/form-data' >
		<p>
			<label for="name">Nombre (obligatorio)</label>
			<input type="text" name="name">
		</p>
		<p>
			<label for="audiofile">Archivo (mp3)</label>
			<input type="file" name="audiofile">
		</p>

		{% if is_admin %}
		<p>
			<label for="is_global">Global</label>
			<input type="checkbox" name="is_global">
		</p>
		{% endif %}
		
		<p>
			<input type="submit" value="P'arriba!! &rarr;">
		</p>
	</form>
	</li> <!-- #content -->	
</body>